body {
    background-color: #2b2b2b;
    background-image: url("background.svg");
    background-size: 95%;
    background-position-x: 96%;
    background-position-y: 85%;
    background-repeat: no-repeat;
    height: 750px;
}
h1 {
    margin-top: 11%;
    margin-left: 7%;
    width: 45%;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0px;
    font-weight: 900;
    font-size: 50px;
}
a {
    color: white;
    text-decoration:none;
    font-family: Arial, Helvetica;
    opacity: 0.8;
    font-size: 17px;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
    margin-top: 3%;
}

ul li:nth-child(2) {
    margin-left: -5%;
}

ul li:nth-child(3){
    margin-left: -25%;
}

ul li:nth-child(4) {
    margin-left: -25%;
}

ul li:nth-child(5) {
    margin-left: -25%;
}

ul li:last-child {
    margin-right: 9%;
}
b {
    background-image: linear-gradient(to right, #F92128, #F34920);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 65px;
    font-style: italic;
}
#menu2 {
    height: 50px;
}

#line {
    width: 86%;
    border-top: 1px solid #ffffff;
    margin-left: 10%;
}
button {
    margin-left: 7.5%;
    padding: 20px;
    font-size: 15px;
    border-radius: 5%;
    border: none;
    background-color: #f82d25;
    color: white;
    box-shadow: 0 20px 40px #3D3D3D;
}